## POSTTEST 4
_______________

In [103]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

bolaBasket = pd.read_csv('all_seasonss.csv',sep=";") #membaca file csv

## 1. Membagi dataset menjadi training set dan testing set dengan proporsi 70:30
____

In [36]:
X = bolaBasket.drop('ast', axis=1)
y = bolaBasket['pts']

# Membagi data menjadi training dan testing set dengan rasio 70:30
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print("Dimensi X_train : ", X_train.shape)
print("Dimensi X_train : ", X_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)
# Sekarang, X_train dan y_train adalah data training, dan X_test serta y_test adalah data testing

Dimensi X_train :  (8613, 21)
Dimensi X_train :  (3692, 21)
Dimensi y_train :  (8613,)
Dimensi y_test :  (3692,)

## 2. Lakukan normalisasi data pada salah satu attribute menggunakkan Min Max scaler
____

In [80]:
atribut_yang_dinormalisasi = 'age'

# Inisialisasi MinMaxScaler
scaler = MinMaxScaler()

# Normalisasi data pada atribut yang dipilih
bolaBasket['age'] = scaler.fit_transform(bolaBasket[['age']])

print(bolaBasket.head())

   Unnamed: 0        player_name team_abbreviation       age  player_height  \
0           0      Dennis Rodman               CHI  0.692308         198.12
1           1  Dwayne Schintzius               LAC  0.384615         215.90
2           2       Earl Cureton               TOR  0.807692         205.74
3           3        Ed O'Bannon               DAL  0.230769         203.20
4           4        Ed Pinckney               MIA  0.615385         205.74

  player_weight                      college country draft_year draft_round  \
0     9.979.024  Southeastern Oklahoma State     USA       1986           2
1    11.793.392                      Florida     USA       1990           1
2     9.525.432                Detroit Mercy     USA       1979           3
3   100.697.424                         UCLA     USA       1995           1
4    10.886.208                    Villanova     USA       1985           1

   ...  pts   reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
0  ...  5.7  16.1  3.1        16.1     0.186     0.323    0.100   0.479
1  ...  2.3   1.5  0.3        12.3     0.078     0.151    0.175   0.430
2  ...  0.8   1.0  0.4        -2.1     0.105     0.102    0.103   0.376
3  ...  3.7   2.3  0.6        -8.7     0.060     0.149    0.167   0.399
4  ...  2.4   2.4  0.2       -11.2     0.109     0.179    0.127   0.611

   ast_pct   season
0    0.113  1996-97
1    0.048  1996-97
2    0.148  1996-97
3    0.077  1996-97
4    0.040  1996-97

[5 rows x 22 columns]

## 3. Lakukan Standarisasi pada dataset
____

In [82]:
# Pilih atribut yang akan distandarisasi (gantilah 'atribut_yang_distandarisasi' dengan nama atribut yang sebenarnya)
atribut_yang_distandarisasi = 'reb'

# Inisialisasi StandardScaler
scaler = StandardScaler()

# Standarisasi data pada atribut yang dipilih
bolaBasket['reb'] = scaler.fit_transform(bolaBasket[['reb']])

print(bolaBasket.head())

   Unnamed: 0        player_name team_abbreviation       age  player_height  \
0           0      Dennis Rodman               CHI  0.692308         198.12
1           1  Dwayne Schintzius               LAC  0.384615         215.90
2           2       Earl Cureton               TOR  0.807692         205.74
3           3        Ed O'Bannon               DAL  0.230769         203.20
4           4        Ed Pinckney               MIA  0.615385         205.74

  player_weight                      college country draft_year draft_round  \
0     9.979.024  Southeastern Oklahoma State     USA       1986           2
1    11.793.392                      Florida     USA       1990           1
2     9.525.432                Detroit Mercy     USA       1979           3
3   100.697.424                         UCLA     USA       1995           1
4    10.886.208                    Villanova     USA       1985           1

   ...  pts       reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
0  ...  5.7  5.049770  3.1        16.1     0.186     0.323    0.100   0.479
1  ...  2.3 -0.829151  0.3        12.3     0.078     0.151    0.175   0.430
2  ...  0.8 -1.030484  0.4        -2.1     0.105     0.102    0.103   0.376
3  ...  3.7 -0.507019  0.6        -8.7     0.060     0.149    0.167   0.399
4  ...  2.4 -0.466752  0.2       -11.2     0.109     0.179    0.127   0.611

   ast_pct   season
0    0.113  1996-97
1    0.048  1996-97
2    0.148  1996-97
3    0.077  1996-97
4    0.040  1996-97

[5 rows x 22 columns]

## 4. Lakukan Data Cleaning pada data dengan nilai null
____

In [86]:
# Mencetak informasi sebelum data cleaning
print("Informasi sebelum data cleaning:")
print(bolaBasket.info())

# Menghapus baris dengan nilai null
bolaBasket_cleaned = bolaBasket.dropna()

# Mencetak informasi setelah data cleaning
print("\nInformasi setelah data cleaning:")
print(bolaBasket_cleaned.info())

Informasi sebelum data cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12305 entries, 0 to 12304
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12305 non-null  int64
 1   player_name        12305 non-null  object
 2   team_abbreviation  12305 non-null  object
 3   age                12305 non-null  float64
 4   player_height      12305 non-null  float64
 5   player_weight      12305 non-null  object
 6   college            10516 non-null  object
 7   country            12305 non-null  object
 8   draft_year         12305 non-null  object
 9   draft_round        12305 non-null  object
 10  draft_number       12305 non-null  object
 11  gp                 12305 non-null  int64
 12  pts                12305 non-null  float64
 13  reb                12305 non-null  float64
 14  ast                12305 non-null  float64
 15  net_rating         12305 non-null  float64
 16  oreb_pct           12305 non-null  float64
 17  dreb_pct           12305 non-null  float64
 18  usg_pct            12305 non-null  float64
 19  ts_pct             12305 non-null  float64
 20  ast_pct            12305 non-null  float64
 21  season             12305 non-null  object
dtypes: float64(11), int64(2), object(9)
memory usage: 2.1+ MB
None

Informasi setelah data cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 10516 entries, 0 to 12304
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10516 non-null  int64
 1   player_name        10516 non-null  object
 2   team_abbreviation  10516 non-null  object
 3   age                10516 non-null  float64
 4   player_height      10516 non-null  float64
 5   player_weight      10516 non-null  object
 6   college            10516 non-null  object
 7   country            10516 non-null  object
 8   draft_year         10516 non-null  object
 9   draft_round        10516 non-null  object
 10  draft_number       10516 non-null  object
 11  gp                 10516 non-null  int64
 12  pts                10516 non-null  float64
 13  reb                10516 non-null  float64
 14  ast                10516 non-null  float64
 15  net_rating         10516 non-null  float64
 16  oreb_pct           10516 non-null  float64
 17  dreb_pct           10516 non-null  float64
 18  usg_pct            10516 non-null  float64
 19  ts_pct             10516 non-null  float64
 20  ast_pct            10516 non-null  float64
 21  season             10516 non-null  object
dtypes: float64(11), int64(2), object(9)
memory usage: 1.8+ MB
None

## 5. Lakukan Data Cleaning pada data dengan nilai duplikat
____

In [87]:
# Mencetak informasi sebelum data cleaning
print("Jumlah baris sebelum menghapus duplikat:", len(bolaBasket))

# Menghapus baris dengan nilai duplikat
bolaBasket_cleaned = bolaBasket.drop_duplicates()

# Mencetak informasi setelah data cleaning
print("Jumlah baris setelah menghapus duplikat:", len(bolaBasket_cleaned))

Jumlah baris sebelum menghapus duplikat: 12305
Jumlah baris setelah menghapus duplikat: 12305

## 6. Ganti tipe data salah satu attribute angka
____

In [100]:
atribut_yang_diubah_tipe = 'net_rating'

# Mengganti tipe data atribut menjadi float
bolaBasket['net_rating'] = bolaBasket['net_rating'].astype(float)

print(bolaBasket.head())

   Unnamed: 0        player_name team_abbreviation   age  player_height  \
0           0      Dennis Rodman               CHI  36.0         198.12
1           1  Dwayne Schintzius               LAC  28.0         215.90
2           2       Earl Cureton               TOR  39.0         205.74
3           3        Ed O'Bannon               DAL  24.0         203.20
4           4        Ed Pinckney               MIA  34.0         205.74

  player_weight                      college country draft_year draft_round  \
0     9.979.024  Southeastern Oklahoma State     USA       1986           2
1    11.793.392                      Florida     USA       1990           1
2     9.525.432                Detroit Mercy     USA       1979           3
3   100.697.424                         UCLA     USA       1995           1
4    10.886.208                    Villanova     USA       1985           1

   ...  pts   reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
0  ...  5.7  16.1  3.1        16.1     0.186     0.323    0.100   0.479
1  ...  2.3   1.5  0.3        12.3     0.078     0.151    0.175   0.430
2  ...  0.8   1.0  0.4        -2.1     0.105     0.102    0.103   0.376
3  ...  3.7   2.3  0.6        -8.7     0.060     0.149    0.167   0.399
4  ...  2.4   2.4  0.2       -11.2     0.109     0.179    0.127   0.611

   ast_pct   season
0    0.113  1996-97
1    0.048  1996-97
2    0.148  1996-97
3    0.077  1996-97
4    0.040  1996-97

[5 rows x 22 columns]

## 7. Lakukan One Hot Encoding pada dataset yang kalian miliki
_____

In [101]:
# Pilih kolom yang perlu di-encode (gantilah 'kolom_yang_diencode' dengan nama kolom yang sebenarnya)
kolom_yang_diencode = 'season'

# Lakukan One Hot Encoding
bolaBasket_encoded = pd.get_dummies(bolaBasket, columns=['season'])

print(bolaBasket.head())

   Unnamed: 0        player_name team_abbreviation   age  player_height  \
0           0      Dennis Rodman               CHI  36.0         198.12
1           1  Dwayne Schintzius               LAC  28.0         215.90
2           2       Earl Cureton               TOR  39.0         205.74
3           3        Ed O'Bannon               DAL  24.0         203.20
4           4        Ed Pinckney               MIA  34.0         205.74

  player_weight                      college country draft_year draft_round  \
0     9.979.024  Southeastern Oklahoma State     USA       1986           2
1    11.793.392                      Florida     USA       1990           1
2     9.525.432                Detroit Mercy     USA       1979           3
3   100.697.424                         UCLA     USA       1995           1
4    10.886.208                    Villanova     USA       1985           1

   ...  pts   reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
0  ...  5.7  16.1  3.1        16.1     0.186     0.323    0.100   0.479
1  ...  2.3   1.5  0.3        12.3     0.078     0.151    0.175   0.430
2  ...  0.8   1.0  0.4        -2.1     0.105     0.102    0.103   0.376
3  ...  3.7   2.3  0.6        -8.7     0.060     0.149    0.167   0.399
4  ...  2.4   2.4  0.2       -11.2     0.109     0.179    0.127   0.611

   ast_pct   season
0    0.113  1996-97
1    0.048  1996-97
2    0.148  1996-97
3    0.077  1996-97
4    0.040  1996-97

[5 rows x 22 columns]